nav {
	/*display: none;*/
	text-align: center;
	margin: 20px 0;
}

.container {
	height: 500px;
	max-width: 500px;
	/*border: 1px solid green;*/
	padding: 0;
}

.pad {
	height: inherit;
	width: inherit;
	display: inline-grid;
	/*border: 2px solid black;*/
	margin: 0;
	padding: 0;
	/*margin: 0 auto;*/
	/*grid-template-columns: 120px 120px 120px 120px 120px;*/

	/*grid-template-rows: 5;*/
}

.pad-pixel {
	/*height: 120px;*/
	/*width: 120px;*/
	border: .1px solid black;	
	/*display: inline-block;*/
}