nav, .clear-btn {
	/*display: none;*/
	text-align: center;
	margin: 20px 0;
}

h1 {
	font-size: 3.5em;
}

.container {
	height: 500px;
	max-width: 500px;
	/*border: 1px solid green;*/
	padding: 0;
}

.pad {
	height: inherit;
	width: inherit;
	display: inline-grid;
	/*grid-gap: .1px;*/
	/*background-color: black;*/
	margin: 0;
	padding: 0;

}

.pad-pixel {
	/*height: 120px;*/
	/*width: 120px;*/
	/*opacity: 0;*/
	border: .1px solid black; 	
	/*border-radius: 100%;*/
	/*display: inline-block;*/
}

.return-cell {
	/*opacity: .1;*/
}